<h1>List of users</h1>

<div class="users-list">
  <% @users.each do |user| %>
    <%= link_to user do %>
      <%= render partial: "user_card", locals: { user: user } %>
    <% end %>
  <% end %>
</div>