<h2>Here is a list of all users.</h2>
<div>
  <img src="" alt="user image">
  <div>
    <h3>Username</h3>
    <h4>Number of posts: X</h4>
  </div>
</div>
<div>
  <img src="" alt="user image">
  <div>
    <h3>Username</h3>
    <h4>Number of posts: X</h4>
  </div>
</div>
<div>
  <img src="" alt="user image">
  <div>
    <h3>Username</h3>
    <h4>Number of posts: X</h4>
  </div>
</div>
<div>
  <img src="" alt="user image">
  <div>
    <h3>Username</h3>
    <h4>Number of posts: X</h4>
  </div>
</div>